<div class="infowindow">
    <span class="title">Leute</span>
    <div style="width:270px;">
        <div class="section">
            <b>Momentan dabei sind:</b>
            <div style="">
                <img width="64" height="64" src="http://t0.gstatic.com/images?q=tbn:gffI9xr_b0M9vM:http://simpsonspedia.net/images/thumb/0/09/Otto_Mann.png/500px-Otto_Mann.png"/>Bart
            </div>
            <div style="">
                <img width="64" height="64" src="http://t0.gstatic.com/images?q=tbn:fr3sqgu0W77DHM:http://simpsonspedia.net/images/thumb/0/04/Asa_(Alter_Mann).png/500px-Asa_(Alter_Mann).png"/>Asa
            </div>
            <div style="">
                <img width="64" height="64" src="http://t1.gstatic.com/images?q=tbn:6mj1hQ5RU7ZDCM:http://img2.timeinc.net/ew/dynamic/imgs/071019/bart_l.jpg"/>Bart
            </div>
        </div>
    </div>
</div>