<div class="infowindow" style="width:500px;">
    <span class="title">Anfahrt</span>
    <div class="section" style="float: left;">
        Von <b><span class="startAddress"></span></b>
        zu <b><span class="endAddress"></span></b>
        <br/>
        <span class="routeDistance"></span>
        (<span class="routeDuration"></span>)
    </div>
    <div class="section" style="float: right;">
        <a href="javascript:YUI.geowidget.Model.managers.directionsManager.printRoute();">Ausdrucken</a>
    </div>
    <div style="clear: both;"/>
    <div class="section" style="overflow:auto; height:100px;">
    	<table cellspacing="0" cellpadding="0" class="routeTable" style="" width="100%"></table>
    </div>
</div>
