<div class="infowindow">
    <span class="title">Project</span>
    <div style="width:270px;">
        <div class="section">
            <span class="projectTitle" style="font-weight:bold;font-size:13px;">Spielplatz saubermachen</span>
        </div>
        <div class="section">
			<font color="#707070">Location: </font><span class="location">Mozartstr. 3</span><br/>
			<font color="#707070">City: </font><span class="city">München</span>
        </div>
        <div class="section">
        	<div style="max-height:200px;overflow:auto;">
				<span class="description">Help</span>
        	</div>
        </div>
        <div class="website section">
            <a class="joinURL@href" href="#">Help this project!</a>
	    	<a class="backToButton" style="float: right;" href="javascript:YUI.geowidget.Model.managers.zoomManager.zoomToLocations();">Back to overview</a>
        </div>
    </div>
</div>
